# .NET
bin/
obj/
*.user
*.cache
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json

# Editor directories and files
infos
.vs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?